src/sim/nmf/fits/*
src/sim/nmf/*.json
src/sim/lda/fits/*
src/sim/lda/pipeline/*.json
data/fits/*
data/figure-input/*
doc/*.pdf
doc/poster/*.pdf
doc/figure/*
!doc/figure/convert.sh
*.bbl
*.blg
*.aux
*.log
*.nav
*.out
*.snm
*.toc